.grafico-panel {
	/*text-align: center;*/
    background: #444c57;
}

.grafico-header {
	background: transparent;
	padding: 1px;
	margin-bottom: 1px;
}

.mt {
	margin-top: 25px;
}

.titu-grafico {
    font-weight: 150;
	margin-top: 10px;
	color: #263238;
}
.perc-grafico {
	font-size: 10;
	padding-right: 15px;
	padding-top: 15px;
	text-align: center;
	color: #263238;
	aborder-right: 5px solid #eee;
	border-left: 0;
}
