html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.5rem;  
}

.footerteste {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

nav ul a {
  font-size:1.5rem;
}

main {
  flex: 1 0 auto;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo{
  max-width: 10%;
  height:auto;
}

.cad_card{
  margin: 2rem 0 2rem 0;
}

a.nav_links:hover{
  text-decoration: none;

}

.bread_cad{
  padding-left: 10px;
}

.swit{
  padding-left: 10px;
}

h1{
  font-size: 2.2rem;
}

label {
  font-size: 1.6rem;    
}

#myChart {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.grafico{
  position: relative;
}
.chart-container{
  margin-left: 12%;
}

#nome_usuario, #data {
  text-align: center;

}

.prazos {
  box-sizing: border-box;
  text-align: center;
  height:30px;
  width: 100%;
  margin-top: 15px;
  border-bottom: 3px solid #37474f ;

}
.box{
  float: left;
  width: 33.33%;
  padding: 0px;
}

.containerFiltro{
  height: 80px;
  position: relative;
  width: 80%;
  display: flex;
}

.dataIni{
  position: absolute;
  top: 0%;
  left: 13%;
  font-size: 18px;
}
.dataFim{
  position: absolute;
  top: 0%;
  left: 30%;
  font-size: 18px;
}
.botaoFiltro{
  position: absolute;
  top: 20%;
  left: 45%;
  font-size: 18px;
}

.dataIniChart{
  position: absolute;
  top: 0%;
  left: 13%;
  font-size: 18px;
}
.dataFimChart{
  position: absolute;
  top: 0%;
  left: 30%;
  font-size: 18px;
}
.filtroCoordChart{
  position: absolute;
  top: 0%;
  left: 50%;
  font-size: 18px;
}
.botaoFiltroChart{
  position: absolute;
  top: 38%;
  left: 80%;
  font-size: 18px;
}

.buttonVoltar {
  position: absolute;
  top: 38%;
  left: 90%;
  font-size: 18px;
}
/*
.TESTE_FILTRO{
  position: absolute;
  float: right;
  top: 38%;
  left: 90%;
}*/
td {
  padding-right: 30px;
}

th {
  padding-right: 30px;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.modal{
  background-color:transparent;
  box-shadow: none;
  max-height: 80%;
  overflow-y: auto;
  /*padding: 50px;*/
}

.modal-content{
  padding: 50px !important;
  padding-top: 20px !important;
}

.waves-effect.waves-light.btn.green.accent-3.modal-trigger{
  width: 100px;
}
.waves-effect.waves-light.btn.red.accent-4{
  width: 100px;
}

.navBarMenu {
  background-color: #5A645A !important;
}