html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.5rem;  
}

.footerteste {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

nav ul a {
  font-size:1.5rem;
}

main {
  flex: 1 0 auto;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo{
  max-width: 10%;
  height:auto;
}

.cad_card{
  margin: 2rem 0 2rem 0;
}

a.nav_links:hover{
  text-decoration: none;

}

.bread_cad{
  padding-left: 10px;
}

.swit{
  padding-left: 10px;
}

h1{
  font-size: 2.2rem;
}

label {
  font-size: 1.6rem;    
}

#myChart {
  height:auto;
  width:auto;
  max-width: 82%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.canvas-container{
  position: relative;
}

#button {
  position:relative;
  left:10%;
  top:92%;
}

#nome_usuario, #data {
  text-align: center;

}

.prazos {
  box-sizing: border-box;
  text-align: center;
  height:30px;
  width: 100%;
  margin-top: 15px;
  border-bottom: 3px solid #37474f ;

}
.box{
  float: left;
  width: 33.33%;
  padding: 0px;
}

.containerFiltro{
  height: 80px;
  position: relative;
  width: 80%;
  display: flex;
}

.dataIni{
  position: absolute;
  top: 0%;
  left: 13%;
  font-size: 18px;
}
.dataFim{
  position: absolute;
  top: 0%;
  left: 30%;
  font-size: 18px;
}
.botaoFiltro{
  position: absolute;
  top: 20%;
  left: 45%;
  font-size: 18px;
}

td {
  padding-right: 30px;
}

th {
  padding-right: 30px;
}